

@keyframes Fade{
    0% {
        visibility: visible;
        opacity: 0;
    }

    10%{
        visibility: visible;
        opacity: 1;
    }

    90% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: visible;
        opacity: 0;
    }

}
@keyframes Nothing{
    0% {
        visibility: visible;
        
    }
    100% {
        visibility: visible;
        
        
    }

}
@keyframes Slide{
    0% {
        visibility: visible;
        opacity: 0;
        transform: translate(-100%,-50%);
    }

    10%{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    90% {
        
        visibility: visible;
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    100% {
        visibility: visible;
        opacity: 0;
        transform: translate(100%,-50%);
    }

}
@keyframes Scroll{
    0% {
        visibility: visible;
        transform: translate(-50%,100vh);
    }

    10%{
        visibility: visible;
        transform: translate(-50%,-50%);
    }

    90% {
        visibility: visible;
        transform: translate(-50%,-50%);
    }
    100% {
        visibility: visible;
        transform: translate(-50%,-100vh);
    }

}
@keyframes Fadepreview{
    0% {
        visibility: visible;
        opacity: 0;
    }

    10%{
        visibility: visible;
        opacity: 1;
    }

    90% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: visible;
        opacity: 0;
    }

}
@keyframes Slidepreview{
    0% {
        visibility: visible;
        opacity: 0;
        transform: translate(-100%,0);
    }

    10%{
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
    }

    90% {
        visibility: visible;
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        visibility: visible;
        opacity: 0;
        transform: translate(100%,0);
    }

}
@keyframes Scrollpreview{
    0% {
        visibility: visible;
        transform: translate(0,100vh);
    }

    10%{
        visibility: visible;
        transform: translate(0,0);
    }

    90% {
        visibility: visible;
        transform: translate(0,0);
    }
    100% {
        visibility: visible;
        transform: translate(0,-100vh);
    }

}
@keyframes nothingpreview{
    0% {
        visibility: visible;
        
    }
    100% {
        visibility: visible;
        
        
    }

}