.list-text{
    background-color: white;
    border: none;
    width: 90%;
    font-size: 1.3rem;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
}
.ListText{
position: relative;
display: block;
padding:  5px 0 10px 0;
width: 98%;
border-radius: 5px;
margin-bottom: 5px;
animation: appear 0.5s linear 1;


}
.ListText:hover{
    border: 1px solid #D1B000;
}
.listbutton-text{
    display: block;
    width: 100%;
    padding-bottom: 3px;
    position: relative;
}
.listbutton{
    font-size: 1.3rem;
    background-color: black;
    color: #D1B000;
    border-radius: 5px;
    padding: 2px 5px 0 5px;
    display: inline-block;
}
.listbutton:hover{
    background-color: #D1B000;
    color: black;
    
}
.ListText:hover .listhovermenu{
display: block;
padding-top: 5px;
text-align: center;





}
.ListText:hover .listbutton-text{
    padding-bottom: 0;
    
    }
.listhovermenu{
    display: none;
    position: relative;



}
.listlabel{
    display: inline-block;
    padding: 2px;
    font-size: 1.3rem;
    margin-right: 10px;

}
.listcolor{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}
.listcolor::-webkit-color-swatch{
    border-radius: 15px;
    border: 1px solid #D1B000;
}
.listsize{
    font-size: 1.1rem;
    border: 1px solid #D1B000;
    border-radius: 5px;
    color: black;
    padding: 1px;
}
.listfont{
        font-size: 1.1rem;
    border: 1px solid #D1B000;
    border-radius: 5px;
    color: black;
    padding: 1px;
}
.listanimation{
    font-size: 1.1rem;
    border: 1px solid #D1B000;
    border-radius: 5px;
    color: black;
    padding: 1px;
}
.listduration{
    font-size: 1.1rem;
    border: 1px solid #D1B000;
    border-radius: 5px;
    color: black;
    padding: 1px;  
}
@keyframes appear{
    0% {
        color:#D1B000;
        background-color: #D1B000;
    }

    100% {
        color:black;
        background-color: black;
    }

}