.ListContainer{
    margin: auto;
    display: inline-block;
    width: 63%;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 55%;
    position: relative;

}
.ListContainer::-webkit-scrollbar{
    width:5px;

}
.ListContainer::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
    
}
.ListContainer::-webkit-scrollbar-thumb{
    
    background-color: #D1B000;
    border-radius: 10px;
}
.deleteall{
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    padding: 4px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #D1B000;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 200ms,color 200ms;
}
.deleteall:hover{
    background-color: #D1B000;
    color: black;
}