.TextSettings{
    height: 85%;
    width: 100%;

    user-select: none;
}
.textsettingsform{
    display: block;
    width: 100%;
    margin: auto;
    
    padding: 10px;
    
    
}

.form-text{
    margin: auto;
    display: inline-block;
    padding: 5px;
    font-size: 1.3rem;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #D1B000;

}
.picture-file{
    position: relative;
    font-size: 1.3rem;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #D1B000;
    border-radius: 5px;
    padding: 5px;
    background-color: white;

}
.picture-file:hover{
    background-color: #D1B000;

}

.picture-file-icon{
    color: black;  
}

.picture-file-text{
    font-size: 1.3rem;
    color: white; 
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 1.4rem;
}
.picture-file-text-icon-container{
    display: inline-block;
    margin-left: 5px;
    
}
.picture-file-text-icon{
    color: #D1B000;
    cursor: pointer;
    border: 1px solid #D1B000;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    font-size: 1rem;
    
}
.picture-file-text-icon:hover{
    color: black;
    background-color: #D1B000;
}
.form-text-container{
    position: relative;
    margin-bottom: 5px;
}
.form-label{
    display: inline-block;
    font-size: 1.3rem; 
    border-radius: 8%;
    padding: 5px;
    margin-left: 5px;

}
.icon{
    padding-right: 5px;
    display: inline-block;
    color: #D1B000;
}
.form-color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;

}
.form-color::-webkit-color-swatch{
    border-radius: 15px;
    border: 1px solid #D1B000;
}
.form-size{
    font-size: 1.2rem;
    border: 1px solid #D1B000;
    border-radius: 5px;
    color: black;
    padding: 1px;

}
.form-font{
    border: 1px solid #D1B000;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1px;
    color: black;
}
.form-animation{
    border: 1px solid #D1B000;
    border-radius: 5px;
    padding: 1px;
    font-size: 1.2rem;
    color: black;
}
.form-duration{
    border: 1px solid #D1B000;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    padding: 1px;

}
.form-button{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #D1B000;
    color: black;
    cursor: pointer;
    transition: transform 200ms;
}
.form-button:hover{
    background-color: #D1B000;
    transform: scale(1.1);

}
.form-button:hover .icon{
    color: black;

} 
.button-text{
    display: inline-block;
    margin-right: 5px;
}
.inputpreview{
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #D1B000;
    border-radius: 5px;
    padding: 6px 7px 6px 7px;
    background-color: white;
}
.inputpreview:hover {
    background-color:#D1B000;
}
.previewicon{
    color: black; 
}

.soundicon{
    color: black; 
    
}

.soundbutton{
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #D1B000;
    border-radius: 5px;
    padding: 6px 7px 6px 7px;
    background-color: white;
    margin-right: 15px;
    
    
}

.soundbutton:hover {
    background-color:#D1B000;
}
.previewpicvid{

    height: 60%;
    width: 50%;
    border: 1px solid #D1B000;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 15%;
    background-color: black;
    
}
.previewpiccont{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}
.crossthru{
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    padding: 6px 7px 6px 6px;
    transform: rotate(5deg);
}
.deleteall{
    position: absolute;
    margin-left: 10px;
    display: inline-block;
    padding: 4px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #D1B000;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 200ms,color 200ms;
}
.deleteall:hover{
    background-color: #D1B000;
    color: black;
}