.themes-list{
    border: 1px solid #D1B000;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1px;
    color: black;
}
.theme-file{
    color: white;
    font-size: 17px;
}
.preview{
    margin-top: 2rem;
}